body {
    font-family: sans-serif;
    background-color: rgb(14, 14, 14);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.conteudo-add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-nova-tarefa,
#btn-nova-tarefa {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-nova-tarefa {
    width: 20rem;
    border-radius: 1rem;
}

#btn-nova-tarefa {
    background-color: rgb(18,18,18);
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .7s;
}

#btn-nova-tarefa:hover{
   background-color: green;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
}

#to-do-list li:hover {
    background-color: gray;
    border-radius: 1rem;
    padding-left: 1rem;
}

#btn-ok {
    border: none;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .7s;
}

#btn-ok:hover {
    background-color: green;
}